<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"></head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var loginverfiy = false;

    $(document).ready(function(){
        var login = document.getElementById('loginMember_username').value;
        if(login != null){
            loginverfiy = true;
        }
    })

    function writing(){
        if(loginverfiy === true){
            window.location.href="/boardWrit";

        }
        if (loginverfiy===false){
            alert("로그인 먼저 해주세요");
        }
    }
</script>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">CRUD 게시판</a>
        <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav">
                <div th:if="${loginMember != null}" class="d-flex justify-content-between">
                    <div class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="'사용자: '+${loginMember.username}">Home</a>
                    </div>
                    <div class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link">로그아웃</button>
                        </form>
                    </div>
                </div>
                <div th:if="${loginMember==null}" class="d-flex justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/createMember}">회원가입</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div>총 상품 수:
    <span>19</span>
</div>
<form method="get" th:action="@{/board}">
    <div class="col-6 d-flex justify-center">
        <label for="title" class="visually-hidden">검색</label>
        <input type="text" class="form-control flex-grow-1 me-2" id="title" name="title">
        <button type="submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 9.672a6.5 6.5 0 1 0-1.07 1.07l3.53 3.53a.75.75 0 0 0 1.06-1.06l-3.52-3.54zM10.5 6A4.5 4.5 0 1 1 6 1.5 4.5 4.5 0 0 1 10.5 6z"/>
            </svg>
        </button>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">
            <a>1</a>
        </th>
        <td>
            <span>제목</span>
        </td>
        <td>작성자</td>
        <td>오늘작성</td>
        <td>100</td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <button onclick="writing()">글쓰기</button>
</div>
<nav aria-label="page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">pageNumber</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div th:if="${loginMember!=null}">
    <input type="hidden" id="loginMember_username" th:value="${loginMember.username}">

</div>
</body>
</html>